* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inter, sans-serif;
    letter-spacing: .7px;
    font-weight: 300;
    transition: 400ms ease-in-out;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #1f1f1f;
    padding: 0 32px;
}

header > div {
    display: inline-block;
    margin-top: 22px;
}

.right-side-menu {
    float: right;
    vertical-align: middle;
}

.right-side-menu div {
    display: inline-block;
    width: 40px;
    height: 40px;
}

aside {
    background: #1f1f1f;
    width: 290px;
    height: 100%;
    margin-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.main {
    background: #f5f5f5;
    border-radius: 8px;
    margin-left: 350px;
    margin-top: 120px;
    margin-right: 60px;
    width: calc(100% - 460px);
    height: 100vh;
    padding: 40px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.i-home { background-image: url(icons/Home.svg); }
.i-programming { background-image: url(icons/programming.svg); }
.i-events { background-image: url(icons/events.svg); }
.i-directory-profile { background-image: url(icons/directory.svg); }
.i-partner-deals { background-image: url(icons/discounts.svg); }
.i-academy { background-image: url(icons/read.svg); }
.i-coaching { background-image: url(icons/coaching.svg); }
.i-marketing { background-image: url(icons/business.svg); }
.i-business { background-image: url(icons/book.svg); }
.i-support { background-image: url(icons/support.svg); }
.i-affiliate { background-image: url(icons/gym.svg); }
.i-staff { background-image: url(icons/coaches.svg); }
.i-settings { background-image: url(icons/settings.svg); }
.i-accordion { 
    float: right;
    margin-top: 2px;
    margin-right: 20px;
    background-image: url(icons/accordion.svg); 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 12px;
}

li a {
    padding: 8px 0;
    padding-left: 20px;
    border-left: 2px solid #1f1f1f;
    display: inline-block;
    width: 100%;
}

.nav-item li {
    padding-left: 0;
}

li a:hover,
li a.active {
    background: rgba(238, 238, 238, .12);
    border-left: 2px solid white;
}
a {
    text-decoration: none;
    color: #DCDCDC;
    font-size: 13px;
    line-height: 16px;
}

li a.active ~ .sub-menu {
    max-height: 600px;
}

.sub-menu {
    width: 100%;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in;
    max-height: 0px;
    padding-top: 0;
}


.sub-menu li a.child-active .i-arrow {
    background-image: url('icons/arrow-right.svg');
    background-repeat: no-repeat;
}

.section-label {
    font-size: 12px;
    color: #8E8E93;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 500;
}
